@import 'variables';
@import 'mixins';

.container {
    @include onePage($color700, $color500);
    height: 95vh;
    position: relative;
    color: #f2a44a;
    padding: 0 2rem;

    h3 {
        font-size: 14pt;
        padding-bottom: 8px;
        text-align: start !important;
    }

    h3,
    h5 {
        background: -webkit-linear-gradient(#F2C94C, #F2994A);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    hr {
        border-color: #F2994A;
        width: 100%;
        margin: 0;

    }

}

.divider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    line-height: 0;
    filter: brightness(0) saturate(100%) invert(5%) sepia(8%) saturate(4679%) hue-rotate(206deg) brightness(94%) contrast(94%);
    transform: scaleY(3);
    transform-origin: top;


}

.contact {
    position: absolute;
    width: 100%;
    bottom: 10%;
    padding: 0 2rem;
    transform: translateX(-2rem);

    div[id*='mail-section'] {
        @include flexCenter();
        padding-top: 1rem;
        width: 100%;


        h5 {
            font-size: 1rem;
            padding: 0 0.5rem;
            margin: 0 1rem;
        }

    }

    section {
        @include flexCenter();
        flex-direction: row !important;
        width: 100%;
        justify-content: space-evenly;
        svg {
            width: 24px !important;
            height: 24px !important;
            margin-top: 3rem;
        }
    }

    svg {
        filter: brightness(0) saturate(100%) invert(84%) sepia(49%) saturate(1837%) hue-rotate(322deg) brightness(97%) contrast(95%);
    }
}