@use 'mixins' as mix;
@use 'variables' as var;

.main {
    @include mix.newSection(100%, var.$color-dark7);
    @include mix.newSection(var.$color-dark8, var.$color-dark8);
    height: auto;
    padding: 1rem 1rem 2rem 1rem;
    margin-bottom: 1rem;

    h3 {
        @include mix.mainTitle();
    }

    svg {
        fill: var.$color-pr3 !important;

        &:hover {
            transform: scale(1.2);
            cursor:pointer;
        }
    }
 


    div[class*="mail"] {
        @include mix.flexCenter(none, none, row);
        justify-content: space-between;
        // padding: 1rem 0;
        margin: 0 auto;
        width: 80%;
        // background-color: red;

        input {
            font-family: "Roboto Flex";
            text-align: center;
            background-color: var.$color-dark9;
            box-shadow: inset 1px -1px 3px 0px rgba(0,0,0,0.4);

            color: var.$color-pr3;
            font-size: 1rem;
            width: 70%;
            height: 2rem;
            padding: 0 0.2rem 0 0.5rem;
            border-radius: 5px;
            border: none;
            outline: none;
        }
    }

}
