@import 'variables';
@import 'mixins';

.nav {
    @include flexCenter();
    justify-content: space-between;
    padding: 0.5rem 1rem 0 0.5rem;
    // background-color: $color400;
    height: 5vh;
    border: transparent;
    // position: absolute;
    width: 100%;
    z-index: 9;
    overflow: hidden;
    // top: 0;


    svg {
        transform: scale(1.2);
        color: #f2a44a;
        cursor: pointer;
    }

    div[id*='ul-navigation'] {
        position: absolute;
        width: 85vw;
        background-color: $color700;
        z-index: 11;
        top: 0;
        left: 0;
        overflow: visible;

        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0vh;
            width: 15vw;
            height: 100vh;
            transform: translateX(15vw);
            background-color: $color900;
            opacity: 0.5;
            pointer-events: none
        }

        svg {
            position: absolute;
            left: 0.5em;
            top: 0.5rem;


            &:hover {
                transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                animation: spin 5s infinite;
            }

            @keyframes spin {
                0% {
                    -webkit-transform: rotate(180deg);
                    transform: rotate(180deg) scale(1);
                }

                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg) scale(1.2);
                }
            }
        }


        ul {
            @include flexCenter();
            flex-direction: column;
            // justify-content: space-evenly;
            padding: 5rem 0;
            height: 100%;
            
            li {
                all:unset;
                font-size: clamp(16pt, 16pt + 2vw, 24pt);
                color: white;
                opacity: 0.5;
                // outline: 1px solid green;
                text-transform: uppercase;
                width: 100%;
                text-align: center;
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    cursor:pointer;
                    font-weight: 600;
                    opacity: 1;
                    background: -webkit-linear-gradient(#F2C94C, #F2994A);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }

}

.menu {}