
 $color-dark1:#C4C7C8;
 $color-dark2:#A9ABAC;
 $color-dark3:#8F9192;
 $color-dark4:#757778;
 $color-dark5:#5C5F60;
 $color-dark6:#444748;
 $color-dark7:#2E3132;
 $color-dark8:#1e2223;
 $color-dark9:#171a1b;

 $color-pr1:#A5F5A9;
 $color-pr2:#8AD88F;
 $color-pr3:#6FBC76;
 $color-pr4:#55A15E;
 $color-pr5:#3A8646;
 $color-pr6:#1E6C30;
 $color-pr7:#00531A;
 $color-pr8:#00390F;
 $color-pr9:#002106;


 $color-sd1:#DDE1FF;
 $color-sd2:#BFC4EA;
 $color-sd3:#A4A9CE;
 $color-sd4:#898FB3;
 $color-sd5:#6F7598;
 $color-sd6:#3F4565;
 $color-sd7:#282E4D;
 $color-sd8:#131937;
 $color-sd9:black;


 $color-error1:#FFB4A9;
 $color-error2:#FF897A;
 $color-error3:#FF5449;
 $color-error4:#DD3730;
 $color-error5:#BA1B1B;
 $color-error6:#930006;
 $color-error7:#680003;
 $color-error8:#410001;
 $color-error9:black;

