@import 'variables';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Flex', sans-serif;
    scroll-behavior: smooth;

}

// [id*="next] {
//     margin: 1rem
// }

html,
body {
    background-color: $color700;

}

body {

    // scroll-snap-type: y mandatory;
    // overflow-y: scroll;
    // height: 100vh;

}

section[id*="projects"] {
    padding-bottom: 3rem;

}

@media only screen and (min-width: 754px) {

    * {
        li {

            // font-size: clamp(10pt, 10pt + 1vw, 16pt);
        }
    }

    div[class*='container'] {
        //    padding: 0 10rem !important;

        // padding-left: 4rem !important;
        // padding-right: 4rem !important;

        h3 {
            // font-size: clamp(16pt, 16pt + 2vw, 20pt);

        }

        p,
        li {
            // font-size: clamp(10pt, 10pt + 1vw, 14pt);
        }
    }

}

@media only screen and (min-width: 1280px) {


    div[class*='container'] {

        padding-left: 8rem !important;
        padding-right: 8rem !important;
        
    }

}