@import 'variables';
@import 'mixins';

.container {
    position: relative;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    min-height: 100vh;
    section {
        scroll-snap-align: start;
        // height: 100vh;
}
}