<<<<<<< HEAD
@use 'mixins'as mix;
@use 'variables'as var;

.main {
    @include mix.newSection(100%, transparent);
    border: none;

    div[class*="projects"] {
        @include mix.projectText(var.$color-dark3);
        margin: 0.5rem 0;
        position: relative;
        overflow: hidden;
        border-radius: 20px;

        
        &:hover::before {
            content: '';
            width: inherit;
            height: 200%;
            background-image: conic-gradient(var.$color-pr3 20deg,
                    transparent 120deg);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 0;
            animation: borderLights 5s linear infinite;
            transform: scale(1.5);
            z-index: -1;
        }

        &:hover::after {
            content: '';
            position: absolute;
            inset: 2px;
            background-color: var.$color-dark8;
            border-radius: 16px;
            z-index: -1;
        }
        &::after {
            content: '';
            position: absolute;
            inset: 2px;
            background-color: var.$color-dark8;
            border-radius: 16px;
            z-index: -1;
        }
        & * {

        }
    }

    @keyframes borderLights {
        0% {
            transform: rotate(0deg)
        }

        100% {
            transform: rotate(-360deg)
        }
    }

    h3[data-title] {
        @include mix.mainTitle();
        // padding-top: 4rem;
=======
@import 'variables';
@import 'mixins';


.container {
    // isolation: isolate;
    position: relative;
    overflow-y: visible !important;

    &::before {
        content: '';
        display: block;
        position: absolute;
        font-size: clamp(16pt, 16pt + 2vw, 20pt);
        color: $color300;
        // outline: 1px solid red;
        // transform: translate(1rem, -3rem);
        z-index: 30;
    }

    .proyect {
        &:nth-child(3) {
            // outline: 2px solid #F2994A;
            // opacity: 0.5;
            position: relative;

            &::after {
                content: 'coming soon';
                display: block;
                position: absolute;
                font-size: clamp(16pt, 16pt + 2vw, 18pt);
                color: $color200;
                text-transform: capitalize;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(0, 0, 0, 0.5);
                backdrop-filter: blur(1px);
            }
        }
    }
}

.container:not(.container .divider) {
    padding: 0rem 2rem;
    padding-bottom: 54px;
    background-color: $color800;
    height: auto;
    position: relative;

    div {
        background-color: $color700;
        color: $color400;
        // height: 30vh;
        // outline: 1px solid rgba(0, 0, 0, .3);
        margin-bottom: 1rem;

        div[class*='chips'],
        div[class*='content'] {
            padding: 0 1rem;
            margin-bottom: 0;

        }

        h3 {
            padding-top: 1rem;
            padding-left: 1rem;
            font-weight: 300;
            background-color: $color700
        }

        div[class*='links'] {
            // margin-bottom: 1rem;
            @include flexCenter();
            flex-direction: row-reverse;
            justify-content: flex-end;
            padding-top: 0.5rem;
            padding-bottom: 1rem;

            h4 {

                padding: 0 0.5rem;
            }
        }

        div[class*='content'] {
            font-size: 10pt;
            line-height: 14pt;
            color: $color200;
        }

        div[class*='labels'] {
            width: auto;
            display: inline-flex;
            font-size: 10pt;
            line-height: 14pt;
            color: $color200;
            margin: 0;
            margin-top: 0.5rem;

            p {
                padding-right: 0.5rem;
                color: $color600;
            }
        }



>>>>>>> design-3.0
    }

    .proyect {
        position: relative;
<<<<<<< HEAD
        height: auto;
        padding-bottom: 4rem;


        box-shadow: -5px 19px 16px -10px rgba(0, 0, 0, 0.1);



        div[class*="chips"] {
            display: flex;
            justify-content: space-between;
            padding-left: 0.5rem;
            padding-bottom: 1rem;
            width: 100%;
            position: absolute;
            bottom: 0;

            div:not(div[class="links"]) {
                &:hover {
                    cursor: pointer;
                    background-color: var.$color-pr1;
                    transform: scale(1.1);
                    border-color: var.$color-pr3;

                    span {

                        color: var.$color-pr3;
                    }
                }
            }

            span {
                color: var.$color-dark3;
            }

        }

        div[class*="links"] {
            background-color: aliceblue;
            @include mix.flexCenter(transparent, transparent, row);
            justify-content: flex-end;
            margin-right: 1rem;
            // position: absolute;
            flex: 0.8;
            bottom: 0;
            right: 0;

            & svg:hover {
                transform: scale(1.2);
                cursor: pointer;
            }

            svg {
                margin-top: auto;
                align-self: flex-end;
                width: 24px;
                height: 24px;
                margin: 0 0.5rem;
                fill: var.$color-sd3 !important;
            }
        }


    }



    div[class*="content"] {
        @include mix.flexCenter(transparent, var.$color-dark9, row);
        padding: 1rem;
        box-sizing: border-box;
        margin: 2px;
        z-index: 3;

        p {
            margin: 0.5rem;
        }

        div[class*="image"] {
            height: clamp(120px, 120px + 1vh, 250px);
            width: clamp(120px, 120px + 1vh, 250px);
            
            flex:1;
            // filter: grayscale(1);
            // background-color: rgba(0, 0, 0, 0.501);
            // flex: 1;
        }


    }


}

.proyect:nth-child(odd) {

    div[class*="content"] {
        flex-direction: row-reverse;
        // float: left;
    }
}

.proyect {
    // border-color: 2px solid red;
=======
        overflow: visible;
        z-index: 2;
        // outline: 2px solid #F2994A;
        box-shadow: 9px 9px 5px -5px rgba(0, 0, 0, 0.1), inset 11px 11px 7px -8px #ffff;


        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: -webkit-linear-gradient(225deg, #F2C94C, #F2994A);
            z-index: -1;
            transition: 4s translate ease-in-out;
            // transform: translateX(0);
        }

        &:hover {

            h3,
            div[class*='content'],
            div[class*='chips'] {
                transform: translateX(0.5rem);
            }

            div[class*='proyect'] {
                border: 2px solid #F2C94C;
            }

        }

        // dissable github icon on xavier card

        &:nth-child(5) {
            div[class*='links'] :nth-child(2) svg {
                fill: $color900;
                pointer-events: none;
                cursor: default;
                // outline: 2px solid red;
            }
        }
    }
}


@media only screen and (min-width: 752px) {

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1em;

        div {
            // outline: 1px solid white;
            position: relative;
            display: flex;
            flex-direction: column;
            // background-color: red !important;
            // height: 100%;

            div[class*='content'] {
                flex-grow: 1;
                padding: 1.5rem 1rem 0rem !important;

            }

            div[class*='chips'] {
                // background-color: red !important;
                // position: absolute;
                width: 100%;
                overflow: hidden;
                margin-top: auto;

                div[class*='labels'] {
                    display: flex;
                    flex-direction: row !important;
                    // justify-content: space-between;
                }

                div[class*='links'] {
                    border: 0;
                    padding-bottom: 0 !important;

                    & *:hover {
                        cursor: pointer;
                        color: $color200
                    }
                }
            }
        }

    }
}

@media only screen and (min-width: 1280px) {

    .container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
        gap: 2em;

        div {

            position: relative;
            display: flex;
            flex-direction: column;


            div[class*='content'] {
                flex-grow: 1;
                padding: 1.5rem 1rem 0rem !important;


            }


        }



        .proyect {




            &::before {
                transition: 4s translate ease-in-out;

            }

            &:hover {

                h3,
                div[class*='content'],
                div[class*='chips'] {
                    transform: translateY(-0.5rem) !important;
                }

            }
        }
    }
>>>>>>> design-3.0
}