@import 'variables';
@import 'mixins';


.container {
    // isolation: isolate;
    position: relative;
    overflow-y: visible !important;

    &::before {
        content: '';
        display: block;
        position: absolute;
        font-size: clamp(16pt, 16pt + 2vw, 20pt);
        color: $color300;
        // outline: 1px solid red;
        // transform: translate(1rem, -3rem);
        z-index: 30;
    }
}

.container:not(.container .divider) {
    padding: 0rem 2rem;
    padding-bottom: 54px;
    background-color: $color800;
    height: auto;
    position: relative;

    div {
        background-color: $color700;
        color: $color400;
        // height: 30vh;
        // outline: 1px solid rgba(0, 0, 0, .3);
        margin-bottom: 1rem;

        div[class*='chips'],
        div[class*='content'] {
            padding: 0 1rem;
            margin-bottom: 0;

        }

        h3 {
            padding-top: 1rem;
            padding-left: 1rem;
            font-weight: 300;
            background-color: $color700
        }

        div[class*='links'] {
            // margin-bottom: 1rem;
            @include flexCenter();
            flex-direction: row-reverse;
            justify-content: flex-end;
            padding-top: 0.5rem;
            padding-bottom: 1rem;

            h4 {

                padding: 0 0.5rem;
            }
        }

        div[class*='content'] {
            font-size: 10pt;
            line-height: 14pt;
            color: $color200;
        }

        div[class*='labels'] {
            width: auto;
            display: inline-flex;
            font-size: 10pt;
            line-height: 14pt;
            color: $color200;
            margin: 0;
            margin-top: 0.5rem;

            p {
                padding-right: 0.5rem;
                color: $color600;
            }
        }



    }

    .proyect {
        position: relative;
        overflow: visible;
        z-index: 2;


        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: -webkit-linear-gradient(225deg, #F2C94C, #F2994A);
            z-index: -1;
            transition: 4s translate ease-in-out;
            // transform: translateX(0);
        }

        &:hover {

            h3,
            div[class*='content'],
            div[class*='chips'] {
                transform: translateX(0.5rem);
            }

            div[class*='proyect'] {
                border: 2px solid #F2C94C;
            }

        }
    }
}


@media only screen and (min-width: 752px) {

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1em;

        div {
            // outline: 1px solid white;
            position: relative;
            display: flex;
            flex-direction: column;
            // background-color: red !important;
            // height: 100%;
            
            div[class*='content'] {
                flex-grow: 1;
                padding: 1.5rem 1rem 0rem !important;
              
            }
            
            div[class*='chips'] {
                // background-color: red !important;
                // position: absolute;
                width: 100%;
                overflow: hidden;
                margin-top: auto;
                
                div[class*='labels'] {
                    display: flex;
                    flex-direction: row !important;
                    // justify-content: space-between;
                }

                div[class*='links'] {
                    border: 0;
                    padding-bottom: 0 !important;
                    
                    & *:hover {
                        cursor: pointer;
                        color: $color200
                    }
                }
            }
        }

    }
}

@media only screen and (min-width: 1280px) {

    .container {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) !important;
        gap: 2em;

        div {
            
            position: relative;
            display: flex;
            flex-direction: column;
          
            
            div[class*='content'] {
                flex-grow: 1;
                padding: 1.5rem 1rem 0rem !important;
              
            }
            
        }

        .proyect {
          
            &::before {
                transition: 4s translate ease-in-out;
            
            }
    
            &:hover {

                h3,
                div[class*='content'],
                div[class*='chips'] {
                    transform: translateY(-0.5rem) !important;
                }
    
            }
        }
    }
}